body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('Background.jpg') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(5px) saturate(180%) contrast(120%);
    -webkit-backdrop-filter: blur(15px) saturate(180%) contrast(120%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

body:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

body > * {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 0 2px 4px rgb(0, 0, 0);
}

a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
    font-size: 1rem;
}
.buttons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.name-container {
    display: inline-block;
    text-align: center;
}

.welcome-text {
    position: absolute;
    bottom: 20px;
    width: 22ch;
    animation: typing 2s steps(22, end) infinite, blink-caret 1s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 22ch;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: auto;
}    
.animated-button {
    position: relative;
    padding: 15px 30px;
    margin: -10px 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    overflow: hidden;
    display: inline-block;
}

.animated-button span {
position: absolute;
display: block;
}

/* Top border animation */
.animated-button span:nth-child(1) {
top: 0;
left: 0;
width: 100%;
height: 3px;
background: linear-gradient(to right, #171618, #3bff3b);
animation: animate1 2s linear infinite;
}

/* Right border animation */
.animated-button span:nth-child(2) {
top: 0;
right: 0;
width: 3px;
height: 100%;
background: linear-gradient(to bottom, #171618, #3bff3b);
animation: animate2 2s linear infinite;
animation-delay: 1s;
}

/* Bottom border animation */
.animated-button span:nth-child(3) {
bottom: 0;
left: 0;
width: 100%;
height: 3px;
background: linear-gradient(to left, #171618, #3bff3b);
animation: animate3 2s linear infinite;
}

/* Left border animation */
.animated-button span:nth-child(4) {
top: 0;
left: 0;
width: 3px;
height: 100%;
background: linear-gradient(to top, #171618, #3bff3b);
animation: animate4 2s linear infinite;
animation-delay: 1s;
}

/* Keyframes for animations */
@keyframes animate1 {
0% {
    transform: translateX(-100%);
}
100% {
    transform: translateX(100%);
}
}

@keyframes animate2 {
0% {
    transform: translateY(-100%);
}
100% {
    transform: translateY(100%);
}
}

@keyframes animate3 {
0% {
    transform: translateX(100%);
}
100% {
    transform: translateX(-100%);
}
}

@keyframes animate4 {
0% {
    transform: translateY(100%);
}
100% {
    transform: translateY(-100%);
}
}
.socials {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-icon img {
    width: 100%;
    height: 100%;
}

.social-icon:hover {
    transform: scale(1.1);
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.frosted-glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Blackish transparent overlay */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1; /* Ensure it is behind the content */
}
.about-me {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0);
    padding: 40px;
    color: #fff;
    border-radius: 20px;
    border: 2px solid #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.about-me .text-content {
    flex: 1;
    padding-right: 20px;
}

.about-me h1 {
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.about-me p {
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: left;
}

.about-me img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .about-me {
        width: 90%;
        flex-direction: column;
        padding: 20px;
    }

    .about-me .text-content {
        padding-right: 0;
        text-align: center;
    }

    .about-me h1 {
        font-size: 2rem;
    }

    .about-me p {
        font-size: 1rem;
    }

    .about-me img {
        width: 200px;
        height: 200px;
        margin-top: 20px;
    }
}




